.content {
    background: url(background\ ver2.jpg);
    background-size: cover;
}

.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(93, 104, 109);
    color: white;
    text-align: center;
    padding: 2px 0px 2px 0px;
}